<nav class="main-nav" #mainNav>
  <div class="row">
    <div class="col-12">
      <ul class="main-nav__items">
        <li class="main-nav__item main-nav__item--dropdown  drop-menu  drop-menu--hide" [class.main-nav__item__hidden]="!item.visible" *ngFor="let item of navigationItems" #elem (window:resize)="onResize($event, item, elem.getBoundingClientRect(), mainNav.getBoundingClientRect())">
          <a class="main-nav__link" href="#" routerLink="/">{{item.name}}</a>
          <div class="drop-menu__items">
            <div class="drop-menu__items-wrapper">
              <a class="main-nav__link  drop-menu__item" href="{{childItem.name}}" *ngFor="let childItem of item.childList">{{childItem.name}}</a>
            </div>
          </div>
        </li>
      </ul>
          <a class="main-nav__link" href="#">Еще</a>
          <div class="drop-menu__items">
            <div class="drop-menu__items-wrapper">
              <a class="main-nav__link  drop-menu__item" [class.main-nav__link__hidden]="item.visible" href="{{item.name}}" *ngFor="let item of navigationItems">{{item.name}}</a>
            </div>
          </div>
    </div>
  </div>
</nav>
