<section class="promo__bunners">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3"><a class="promo__bunner  promo__bunner--narrow"><img src="/assets/images/bun_1.png" alt="" width="286" height="400"></a></div>
      <div class="col-sm-6 col-md-6 col-lg-3"><a class="promo__bunner  promo__bunner--narrow"><img src="/assets/images/bun_2.jpg" alt="" width="286" height="400"></a></div>
      <div class="col-sm-12 col-md-12 col-lg-6"><a class="promo__bunner  promo__bunner--wide"><img src="/assets/images/bun_3.jpg" alt="" width="585" height="400"></a></div>
    </div>
  </div>
</section>
