<a href="#" class="location-menu__toggle"  data-toggle="modal" data-target="#modal-location">
  <i class="fa fa-location-arrow" aria-hidden="true"></i> Москва
</a>

<!--<div class="location-menu  modal-location">-->
  <!--<h2 class="location-menu__title">Выберите местоположение</h2>-->
  <!--<form class="location-menu__search">-->
    <!--<input type="text" class="location-menu__search-field">-->
  <!--</form>-->
  <!--<a class="location-menu__link  drop-menu__item" href="#">Севастополь</a>-->
  <!--<a class="location-menu__link  drop-menu__item" href="#">Севастополь</a>-->
  <!--<a class="location-menu__link  drop-menu__item" href="#">Севастополь</a>-->
  <!--<a class="location-menu__link  drop-menu__item" href="#">Севастополь</a>-->
  <!--<a class="location-menu__link  drop-menu__item" href="#">Севастополь</a>-->
  <!--<a class="location-menu__link  drop-menu__item" href="#">Севастополь</a>-->
  <!--<a class="location-menu__link  drop-menu__item" href="#">Севастополь</a>-->
<!--</div>-->

<!-- MODAL -->
<div class="modal  location-menu" id="modal-location">
  <div class="modal-dialog">
    <div class="modal-content">
      <h2 class="location-menu__title">Выберите местоположение</h2>
      <form class="location-menu__search">
        <input type="text" class="location-menu__search-field" placeholder="Введите ваш город">
        <div class="location-menu__check-region">
          <label>
            <input class="checkbox" type="checkbox" name="checkbox-test">
            <span class="checkbox-custom"></span>
            <span class="label">Определять регион автоматически</span>
          </label>
        </div>
        <button class="location-menu__search-btn" data-dismiss="modal">Закрыть</button>
      </form>
    </div>
  </div>
</div>
