<div class="header-search">
  <form action="/search">
    <div class="form-group">
      <input type="text" class="form-group__field">
      <div class="form-group__nav  dropdown">
        <button class="form-group__nav-button" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          {{buttonTitle}} <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let item of navigationItems" (click)="buttonTitle = item.name">{{item.name}}</a>
        </div>
      </div>
      <button type="button" class="header-search__btn form-button">Найти</button>
    </div>
  </form>
</div>
