<div class="row">
  <div class="col-12">
    <div class="header-search">
      <form action="/search">
        <div class="form-group">
          <div class="form-group__nav  dropdown">
              <button class="form-group__nav-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Везде <i class="fa fa-caret-down" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" *ngFor="let item of navigationItems">{{item.name}}</a>
              </div>
          </div>
          <input type="text" class="form-group__field">
          <button type="button" class="header-search__btn form-button">Найти</button>
        </div>
      </form>
    </div>
  </div>
</div>
