<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a class="company-logo" href="#">
          <img src="/assets/images/company-logo.png" alt=""><h2 class="company-logo__title">FINDERS<span>маркетплейс для вашего бизнеса</span></h2>
        </a>
      </div>
      <div class="col-sm-8 col-md-7 col-lg-6 col-xl-5 ml-md-auto">
        <app-info-block></app-info-block>
     </div>
    </div>
    <app-search-panel></app-search-panel>
    <app-navbar></app-navbar>
  </div>
</header>
