<section class="catalog">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2 class="catalog__title">ТВ и Видеотехника</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <a class="catalog__item  catalog__item--1">
          <h4 class="catalog-item__header">Телевизоры</h4>
          <img src="/assets/images/chapter_1.png" alt="" class="catalog__item-image">
        </a>
      </div>
      <div class="col-sm-6 col-lg-3">
        <a class="catalog__item  catalog__item--2">
          <h4 class="catalog-item__header  catalog-item__header--bottom">Проекторы</h4>
          <img src="/assets/images/chapter_2.png" alt="" class="catalog__item-image">
        </a>
      </div>
      <div class="col-sm-6 col-lg-3">
        <a class="catalog__item  catalog__item--3">
          <h4 class="catalog-item__header">Комплекты акустики</h4>
          <img src="/assets/images/chapter_3.png" alt="" class="catalog__item-image">
        </a>
      </div>
      <div class="col-sm-6 col-lg-3">
        <a class="catalog__item  catalog__item--4">
          <h4 class="catalog-item__header  catalog-item__header--bottom">Оборудование для видеоконфиренций</h4>
          <img src="/assets/images/chapter_4.png" alt="" class="catalog__item-image">
        </a>
      </div>
    </div>
  </div>
</section>
