<section class="parnters">
  <div class="container">
    <div class="row">
      <div class="col-6"><a class="parnters__bunner  parnters__bunner--1"><h3 class="parnters__bunner-title">Литература для бизнеса</h3><img src="/assets/images/ad_2.png" alt=""></a></div>
      <div class="col-6"><a class="parnters__bunner  parnters__bunner--2"><h3 class="parnters__bunner-title  parnters__bunner-title--bottom">Бизнес-сувениры</h3><img src="/assets/images/ad_2.png" alt=""></a></div>
    </div>
  </div>
</section>
