<section class="promo__items">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2 class="promo__title">Интересные предложения</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <a class="promo__item  product-card">
          <h4 class="product-card__header">Рекомендации</h4>
          <img src="/assets/images/item_2.png" alt="" class="product-card__image">
          <div class="product-card__section">Ноутбуки</div>
          <h5 class="product-card__name">HP Envy 13-avvv 12323</h5><span class="product-card__price">45 000 руб.</span>
        </a>
      </div>
      <div class="col-sm-4 col-md-3">
        <a class="promo__item  product-card">
          <h4 class="product-card__header">Рекомендации</h4>
          <img src="/assets/images/item_2.png" alt="" class="product-card__image">
          <div class="product-card__section">Ноутбуки</div>
          <h5 class="product-card__name">HP Envy 13-avvv 12323</h5><span class="product-card__price">45 000 руб.</span>
        </a>
      </div>
      <div class="col-sm-4 col-md-3">
        <a class="promo__item  product-card">
          <h4 class="product-card__header">Рекомендации</h4>
          <img src="/assets/images/item_2.png" alt="" class="product-card__image">
          <div class="product-card__section">Ноутбуки</div>
          <h5 class="product-card__name">HP Envy 13-avvv 12323</h5><span class="product-card__price">45 000 руб.</span>
        </a>
      </div>
      <div class="col-sm-4 col-md-3">
        <a class="promo__item  product-card">
          <h4 class="product-card__header">Рекомендации</h4>
          <img src="/assets/images/item_2.png" alt="" class="product-card__image">
          <div class="product-card__section">Ноутбуки</div>
          <h5 class="product-card__name">HP Envy 13-avvv 12323</h5><span class="product-card__price">45 000 руб.</span>
        </a>
      </div>
      <div class="col-sm-4 col-md-3">
        <a class="promo__item  product-card">
          <h4 class="product-card__header">Рекомендации</h4>
          <img src="/assets/images/item_2.png" alt="" class="product-card__image">
          <div class="product-card__section">Ноутбуки</div>
          <h5 class="product-card__name">HP Envy 13-avvv 12323</h5><span class="product-card__price">45 000 руб.</span>
        </a>
      </div>
      <div class="col-sm-4 col-md-3">
        <a class="promo__item  product-card">
          <h4 class="product-card__header">Рекомендации</h4>
          <img src="/assets/images/item_2.png" alt="" class="product-card__image">
          <div class="product-card__section">Ноутбуки</div>
          <h5 class="product-card__name">HP Envy 13-avvv 12323</h5><span class="product-card__price">45 000 руб.</span>
        </a>
      </div>
      <div class="col-sm-4 col-md-3">
        <a class="promo__item  product-card">
          <h4 class="product-card__header">Рекомендации</h4>
          <img src="/assets/images/item_2.png" alt="" class="product-card__image">
          <div class="product-card__section">Ноутбуки</div>
          <h5 class="product-card__name">HP Envy 13-avvv 12323</h5><span class="product-card__price">45 000 руб.</span>
        </a>
      </div>
      <div class="col-sm-4 col-md-3">
        <a class="promo__item  product-card">
          <h4 class="product-card__header">Рекомендации</h4>
          <img src="/assets/images/item_2.png" alt="" class="product-card__image">
          <div class="product-card__section">Ноутбуки</div>
          <h5 class="product-card__name">HP Envy 13-avvv 12323</h5><span class="product-card__price">45 000 руб.</span>
        </a>
      </div>
    </div>
  </div>
</section>
