<div class="user-menu">
  <ul class="user-menu__items">
    <li class="user-menu__item"><app-location></app-location></li>
    <li class="user-menu__item"><a href="#"><i class="fa fa-heart" aria-hidden="true"><span>2</span></i> Отложенные</a></li>
    <li class="user-menu__item"><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i> Сравнение</a></li>
    <li class="user-menu__item"><a href="#">Вход</a></li>
    <li class="user-menu__item"><a href="#">Регистрация</a></li>
    <li class="user-menu__item"><a href="#"><div class="busket"><i class="fa fa-shopping-cart" aria-hidden="true"><span>1</span></i> Корзина</div></a></li>
  </ul>
</div>
