.checkbox,
.radio {
  display: none; }

.checkbox-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #7f7f7f;
  border-radius: 3px;
  position: relative; }

.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle; }

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #e85538;
  border-radius: 2px; }

.form {
  width: 100%;
  padding: 5% 0; }

.form__input {
  padding: 1% 2%;
  border: 1px solid #dcdcdc;
  outline: none;
  line-height: 1.5rem; }
  .form__input:focus {
    border: 2px solid #e85538; }

.form__input {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5%; }

.form__group {
  margin-bottom: 5%; }
  .form__group input {
    margin-right: 2%; }

.form-btn {
  width: 100%;
  padding: 1% 2%;
  background-image: linear-gradient(to bottom, #e85538 0, #e4003a 100%);
  border: 1px solid #e85538;
  color: #ffffff;
  line-height: 1.5 rem;
  text-transform: uppercase;
  outline: none; }
  .form-btn--register {
    background-image: linear-gradient(to bottom, #38cbe8 0, #06c0e5 100%);
    border: 1px solid #38cbe8; }

ul {
  margin-bottom: 0; }

li {
  text-decoration: none;
  list-style: none; }

img {
  width: 100%;
  height: auto; }

section {
  padding: 3rem 0;
  background-color: #F8F8F8; }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.main-content {
  background-color: #ffffff; }
  .main-content h2 {
    margin-bottom: 30px; }

.main-header {
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  -webkit-box-shadow: 0px 6px 49px -11px #cccccc;
  -moz-box-shadow: 0px 6px 49px -11px #cccccc;
  box-shadow: 0px 6px 49px -11px #cccccc; }

.company-logo {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out; }
  .company-logo:hover {
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out; }

.company-logo__wrapper {
  width: 35%; }

.company-logo__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  color: #DE1F31;
  width: 65%;
  font-size: 2.2rem; }
  .company-logo__title .company-logo__subtitle {
    width: 100%;
    margin-top: 3px;
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    color: #747474; }

.info-block__wrapper,
.search-panel__wrapper {
  width: 100%; }

.location-menu,
.account-menu {
  position: relative;
  border: 1px solid #000000;
  border-bottom: transparent;
  color: #7f7f7f; }

.account-menu button {
  width: 40%; }

#modal-location .modal-dialog,
#modal-account .modal-dialog {
  top: 40%;
  transform: translateY(-50%); }

.location-menu__toggle,
.account__toggle {
  outline: none; }

.modal-title {
  padding: 3% 2%; }

.modal-btn {
  width: 100%;
  padding: 1% 2%;
  background-image: linear-gradient(to bottom, #e85538 0, #e4003a 100%);
  border: 1px solid #e85538;
  color: #ffffff;
  line-height: 1.5 rem;
  text-transform: uppercase;
  outline: none; }

.user-menu {
  height: 100%;
  padding: 1% 0; }

.user-menu__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-around;
  padding: 0;
  margin-bottom: 1%;
  height: 100%; }
  .user-menu__items .fa {
    position: relative; }
    .user-menu__items .fa span {
      font-size: 11px;
      line-height: 1;
      position: absolute;
      top: -7px;
      right: -5px;
      display: inline-block;
      box-sizing: border-box;
      min-width: 14px;
      height: 14px;
      padding: 2px 4px;
      text-align: center;
      color: #fff;
      border-radius: 14px;
      background: #f22c16; }

.user-menu__item {
  width: 17%;
  text-align: center; }
  .user-menu__item a {
    display: block;
    color: #747474; }
    .user-menu__item a:hover {
      color: #DE1F31;
      text-decoration: none; }
  .user-menu__item--location {
    margin-right: auto;
    text-align: left; }

.basket {
  padding: 5%; }

.form-group {
  position: relative;
  display: flex;
  width: 100%;
  border: 2px solid #DE1F31; }

.header-search .form-group {
  margin-bottom: 0; }

.form-group__nav {
  min-width: 15%; }

.form-group__nav-button {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-left: 1px solid #DE1F31;
  color: #7f7f7f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  cursor: pointer; }
  .form-group__nav-button:focus {
    outline: none; }
  .form-group__nav-button:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }

.form-group__field {
  flex-grow: 1;
  line-height: 28px;
  padding: 3px 0;
  padding-left: 2%;
  border: none;
  outline: none; }
  .form-group__field:focus {
    box-shadow: inset 0 1px 1px rgba(229, 229, 229, 0.75), 0 0 8px rgba(228, 0, 58, 0.6); }

.header-search__btn {
  width: 11%; }

.form-button {
  background-image: linear-gradient(to bottom, #e85538 0, #e4003a 100%);
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer; }
  .form-button:focus {
    outline: none; }
  .form-button:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }

.main-nav {
  border-top: 2px solid #F8F8F8;
  border-right: none;
  border-left: none;
  padding: 0.5rem 0;
  margin-top: 0.5rem; }

.main-nav__items {
  padding: 0;
  margin-bottom: 0;
  white-space: nowrap;
  display: inline-block; }

.main-nav__item {
  display: inline-block; }
  .main-nav__item:not(:first-child) .main-nav__link:before {
    position: absolute;
    top: 35%;
    left: 0;
    content: '';
    height: 14px;
    border-right: 2px solid #747474; }
  .main-nav__item--hidden {
    display: none; }

.main-nav__link {
  position: relative;
  padding: 0.5rem 0.7rem;
  font-size: 1.1rem;
  color: #7f7f7f;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none; }
  .main-nav__link:hover {
    text-decoration: none;
    color: #DE1F31; }
  .main-nav__link--hidden {
    display: none; }
  .main-nav__link--none {
    display: none; }

.hover-menu {
  position: relative;
  border: 1px solid transparent;
  padding: 0.5rem 0; }
  .hover-menu .hover-menu__items {
    display: none; }
  .hover-menu--active {
    border: 1px solid #747474; }
    .hover-menu--active .main-nav__link:before {
      display: none; }
    .hover-menu--active:after {
      content: '';
      position: absolute;
      bottom: -5px;
      display: block;
      width: 100%;
      height: 5px;
      background-color: #ffffff;
      z-index: 1100; }
    .hover-menu--active .hover-menu__items {
      display: block; }
  .hover-menu .hover-menu__items-wrapper {
    position: absolute;
    left: -1px;
    top: 42px;
    display: flex;
    flex-direction: column;
    min-width: 260px;
    max-width: 320px;
    background-color: #ffffff;
    border: 1px solid #747474;
    z-index: 1000; }
  .hover-menu--more .hover-menu__items-wrapper {
    transform: translateX(-100%);
    left: calc(100% + 1px); }

.hover-menu__item:after {
  display: none; }

.promo__bunners {
  background-color: #F8F8F8; }

.promo__items {
  background-color: #ffffff; }

.promo__bunner {
  display: block;
  height: 100%;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  transition: box-shadow 150ms linear; }
  .promo__bunner img {
    width: 100%;
    height: 100%; }
  .promo__bunner:hover {
    opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
    transition: box-shadow 150ms linear;
    transition: opacity 0.2s ease-in-out; }

.promo__item {
  padding: 10px;
  margin-bottom: 20px;
  display: block;
  background-color: #ffffff;
  cursor: pointer; }

.catalog {
  background-color: #F8F8F8; }

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #BFF7FE;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
  transition: box-shadow 150ms linear;
  transition: opacity 0.2s ease-in-out; }
  .catalog__item img {
    width: 200px;
    height: 200px; }
  .catalog__item:hover {
    opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
    transition: box-shadow 150ms linear;
    transition: opacity 0.2s ease-in-out; }

.catalog__item--1,
.parnters__bunner--1 {
  background-color: #b29adb; }

.catalog__item--2,
.parnters__bunner--2 {
  background-color: #d9a6a8; }

.catalog__item--3,
.parnters__bunner--3 {
  background-color: #8fdb91; }

.catalog__item--4,
.parnters__bunner--4 {
  background-color: #dba3bc; }

.catalog__item--5,
.parnters__bunner--5 {
  background-color: #8fbfdc; }

.catalog__item--6,
.parnters__bunner--6 {
  background-color: #9392dd; }

.catalog__item--7,
.parnters__bunner--7 {
  background-color: #dbd99e; }

.catalog__item--8,
.parnters__bunner--8 {
  background-color: #a1b4de; }

.catalog__item--9,
.parnters__bunner--9 {
  background-color: #e79e9d; }

.catalog__item--10,
.parnters__bunner--10 {
  background-color: #e1c293; }

.catalog-item__header {
  margin-bottom: 2rem;
  font-size: 1rem;
  padding-top: 10px; }
  .catalog-item__header--bottom {
    order: 2;
    margin-top: 2rem;
    margin-bottom: 0; }

.ad__bunner {
  display: block;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
  transition: box-shadow 150ms linear; }
  .ad__bunner:hover {
    opacity: 0.8;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28);
    transition: box-shadow 150ms linear;
    transition: opacity 0.2s ease-in-out; }

.product-card,
.parnters__bunner {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  transition: box-shadow 150ms linear;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
  transition: box-shadow 150ms linear;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer; }
  .product-card:hover,
  .parnters__bunner:hover {
    opacity: 0.8;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28);
    transition: box-shadow 150ms linear;
    transition: opacity 0.2s ease-in-out; }
    .product-card:hover .product-card__name,
    .parnters__bunner:hover .product-card__name {
      color: red; }
  .product-card img,
  .parnters__bunner img {
    width: 100%;
    object-fit: cover; }

.parnters__bunner {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  height: 100%; }

.product-card__header {
  margin-bottom: 15px;
  padding: 5px 0 8px 0;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 2px solid #F8F8F8; }

.product-card__section {
  font-size: 12px;
  color: #7f7f7f; }

.product-card__name {
  font-size: 1.15rem;
  font-weight: normal;
  color: #56a;
  padding: 5px 0 8px 0;
  border-bottom: 2px solid #F8F8F8; }

.product-card__price {
  font-weight: bold; }

.parnters__bunner {
  position: relative; }

.parnters__bunner-title {
  top: 10%;
  text-transform: uppercase; }
  .parnters__bunner-title--bottom {
    order: 2; }

@media (max-width: 991px) {
  section {
    padding: 2rem 0; }

  .company-logo__title {
    font-size: 2.5rem; }

  .promo__bunner--wide {
    display: none; } }
@media (max-width: 767px) {
  section {
    padding: 1rem 0; }

  .company-logo img {
    width: 120px;
    height: auto; }

  .user-menu__items {
    padding-bottom: 0; }

  .user-menu__item {
    width: 45%;
    margin-bottom: 2%;
    text-align: left; }
    .user-menu__item--register {
      order: 6; }

  .header-search__btn {
    width: 18%; }

  .form-group {
    flex-wrap: wrap;
    align-items: flex-start;
    border: none; }
    .form-group .form-group__nav {
      width: 35%; }
      .form-group .form-group__nav .form-group__nav-button {
        border: 2px solid #DE1F31;
        line-height: 28px; }
    .form-group .form-group__field {
      width: 65%;
      padding: 0;
      padding-left: 2%;
      margin-bottom: 1%;
      border: 2px solid #DE1F31; }
    .form-group .header-search__btn {
      width: 100%; }

  .promo__bunner--narrow {
    display: none; }
  .promo__bunner--wide {
    display: block; }

  .basket {
    border: none;
    padding: 0; } }
@media (max-width: 575px) {
  .company-logo {
    width: 80%; }
    .company-logo img {
      width: 90px;
      height: auto; }

  .company-logo__title {
    font-size: 1.5rem; }
    .company-logo__title span {
      font-size: 1.1rem;
      line-height: 1.4rem; } }

/*# sourceMappingURL=styles.css.map */
